.avatar {
        position: absolute;
        width: 432px;
        height: 432px;
        overflow: hidden;
        border-radius: 50%;
        top: 119px;
        left: 325px;

        @media (max-width: $ds) {
                width: 450px;
                height: 450px;
                left: 120px;
        }


        @media (max-width: $tb) {
                width: 275px;
                height: 275px;
                left: 50%;
                transform: translate(-50%, 0);
                top: 266px;
        }


        img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
        }
}
