.avatar {
    width: 432px;
    height: 432px;
    overflow: hidden;
    border-radius: 50%;

    @media (max-width: $ds) {
        width: 450px;
        height: 450px;
    }


    @media (max-width: $tb) {
        width: 275px;
        height: 275px;
    }


    img {
        width: 432px;
        height: auto;
        position: absolute;
        overflow: hidden;
        border-radius: 50%;
        top: 0;

        @media (max-width: $ds) {
            width: 450px;
        }
    }
}
