.job {
        &__data {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 40%;
                min-width: 23%;          
                
                @media (max-width: $tb) {
                        max-width: 100%;
                }

                .f-basicLightParagraph {
                        color: $black;
                }

                span.f-basicLightParagraph:first-child {
                        font-weight: 700;
                }
        }

        &__facts {
                .f-basicLightParagraph {
                        color: $black;
                }

                h3 {
                    color: $basicblue;
                    font-weight: 700;
                }
        }

        &__list {
                list-style-type: none;

                li {
                        position: relative;

                        &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background-color: $basicblue1;
                                top: 7px;
                                left: -33px;

                                @media (max-width: $tb) {
                                        width: 5px;
                                        height: 5px;
                                }
                        }
                }
        }

        .company {
                display: grid;
        }
}

.titleJob {
        font-size:  2.6rem;
        font-weight: 700;

        @media (max-width: $ds) {
                font-size:  2.4rem;
        }
        @media (max-width: $tb) {
                font-size:  2.2rem;
        }
}