.job {
        &__data {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 40%;
                min-width: 23%;            

                .f-basicLightParagraph {
                        color: $black;
                }

                span.f-basicLightParagraph:first-child {
                        font-weight: 700;
                }

                span.f-basicLightParagraph {
                        font-weight: 400;
                        font-size: 2.4rem;
                }
        }

        &__facts {
                .f-basicLightParagraph {
                        color: $black;
                }

                h3 {
                    color: $basicblue;
                    font-size: 2.4rem;
                    font-weight: 700;
                }
        }

        &__list {
                list-style-type: none;

                li {
                        position: relative;

                        &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background-color: $basicblue1;
                                top: 7px;
                                left: -33px;
                        }
                }
        }

        .company {
                display: grid;
        }
}
