//breakpoints
$sm: 320px;
$tb: 768px;
$ds: 1024px;

// colors
$black: black;
$white: white;
$red: red;
$green: green;

$basicGray1: #48494D;
$basicGray2: #1C1C1C;
$basicGray3: #808080;
$basicGray4: #4C4C4C;
$basicGray5: #1F1F1F;
$basicGray6: #4D4D4D;
$basicGray7: #F6F6F6;
$basicGray8: #C9CCD4;


$basicdecor: #0AD9C6;