.contacts {
        background-color:  $basicblue;
        min-height: 240px;

        .f-basicLightSubtitle {
                padding: 20px 40px;
                background-color: $basicblue1;
                color: $white;
                text-transform: uppercase;
                text-align: center;
        }

        &__wrapper {
                padding-bottom: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .f-basicLightParagraph {
                        padding-left: 50px;
                        position: relative;
                        font-weight: 400;
                        color: $white;
                        text-decoration: none;
                }

                a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;
                        color: $white;
                        transition: 0.3s ease;

                        &:hover {
                                color: $basicdecor;
                                transition: 0.3s ease;
                        };

                        &:hover svg {
                                fill: $basicdecor;
                                transition: 0.3s ease;
                        }
                }
        }
}
