.section {
        position: relative;
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
}

.education {
        &__wrapper {
                min-width: 200px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;

                .f-basicLightSubtitle {
                        max-width: 400px;
                        word-break: break-all;
                }

                &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 3px;
                        min-width: 56%;
                        top: 69px;
                        left: 336px;
                        background-color: $basicblue1;
                }
        }

        &__data {
                display: flex;
                justify-content: space-between;
                align-items: center;
        }

        &__data-wrapper {
                .f-basicLightParagraph {
                        color: $black;
                        font-weight: 400;
                }
        }

        &__data-inner {
                .f-basicLightParagraph {
                        color: $black;
                        font-weight: 700;
                }


                text-align: right;
        }
}

.educationImage-wrapper {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: $basicblue1;
        border-radius: 50%;

        img {
                width: 70px;
                height: 70px;
                position: absolute;
                left: 12px;
                top: 12px;
        }
}

.education-sertificates {
        &__wrapper {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                min-width: 100%;
        }
        &__slide {


                img {
                        width: 600px;
                        height: auto;
                        transition: 0.3s ease;
                        pointer-events: none;

                        @media (max-width: $ds) {
                                width: 450px;
                        }


                        @media (max-width: $tb) {
                                width: 300px;
                        }
                }
        }
}
