.preview {
    min-height: 616px;
    min-width: 100%;
    margin-top: -55px;


    &__wrapper {
        background-color:  $basicblue1;
        min-height: inherit;
        position: relative;
        max-width: 1440px;
        margin: 0 auto;

        &::before {
                content: "";
                display: block;
                background-color:  $basicOrange;
                min-height: 158px;
                position: absolute;
                min-width: 87%;
                z-index: 1;
                bottom: 0;
                right: 0;
        }

        &::after {
                content: "";
                display: block;
                background-color:  $basicblue;
                background: linear-gradient(340deg, $basicblue 43%, $basicblue1 43%);
                position: absolute;
                z-index: 0;
                bottom: 0;
                left: 0;
                min-height: 554px;
                min-width: 100%;
        }
    }
}