.projects {
        &__list {
                list-style-type: none;
        }

        &__item {
                position: relative;

                a {
                        text-decoration: none;
                        color: $black;

                        &:hover {
                                color: $basicdecor;
                                transition: 0.3s ease;
                        }
                        &:visited {
                                color: $black;
                        }
                }

                &::before{
                        position: absolute;
                        content: '';
                        display: block;
                        background-color: $basicblue1;
                        width: 27px;
                        height: 1px;
                        top: 14px;
                        left: -36px;

                }
        }
}
