.skills-list {
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        @media (max-width: $tb) {
            flex-wrap: wrap;
            justify-content: flex-start;
    }
}

.skills-wrapper {
    min-width: 50%;
}
