@font-face {
    font-family: 'Sansation';
    src: url('../fonts/SansationLight.woff') format('woff'),
         url('../fonts/SansationLight.woff2') format('woff2'),
         url('../fonts/SansationLight.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sansation';
    src: url('../fonts/SansationRegular.woff') format('woff'),
         url('../fonts/SansationRegular.woff2') format('woff2'),
         url('../fonts/SansationRegular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Sansation';
    src: url('../fonts/SansationBold.woff') format('woff'),
         url('../fonts/SansationBold.woff2') format('woff2'),
         url('../fonts/SansationBold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
  }
